<!DOCTYPE HTML>
<html>
	<head>
		<title>BasicApp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="stylesheet" href="css/index.css" type="text/css" charset="utf-8">
	</head>

	<body>
		<div class="list" data-ish-class="StoryListView" id="list">
			<div class="story" data-ish-class="StoryView" data-ish-name="story">
				<span class="button" data-ish-class="UIButton" data-ish-name="closeButton" data-ish-event="TouchUpInside" data-ish-target="story" data-ish-action="close"> Close it! </span>
				<header>
					<h2>Put headline here</h2>
				</header>
				<p>
					Put lede here
				</p>
			</div>

			<div class="story" data-ish-display="placeholder">
				<span class="button"> Close </span>
				<header>
					<h2>Yahoo to Enter Fantasy Sports Market</h2>
				</header>
				<p>
					The Internet company says it will host daily and one-week fantasy games, joining a market estimated to generate $2.6 billion in entry fees this year.
				</p>
			</div>
		</div>
	</body>

</html>