<!DOCTYPE HTML>
<html>
	<head>
		<title>BasicApp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="stylesheet" href="css/index.css" type="text/css" charset="utf-8">
	</head>

	<body>
		<div class="list" data-ish-class="StoryListView" id="list">
			<div class="story" data-ish-class="View" data-ish-name="story">
				<span class="button" data-ish-class="UIButton" data-ish-name="closeButton" data-ish-event="TouchUpInside" data-ish-target="list" data-ish-action="close"> Close it! </span>
				<header>
					<h2>Put headline here</h2>
				</header>
				<p>
					<a href="put imageLink here"><img src="put imageUrl here" /></a>
				</p>
			</div>

			<div class="story" data-ish-class="View" data-ish-display="placeholder">
				<span class="button"> Close </span>
				<header>
					<h2>Above Parque Lage</h2>
				</header>
				<p>
					<a href="#"><img src="example.jpg" /></a>
				</p>
			</div>
		</div>
	</body>

</html>