<!DOCTYPE HTML>
<html>
	<head>
		<title>BasicApp</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link rel="stylesheet" href="css/index.css" type="text/css" charset="utf-8">

<!-- Because we're loading JS the old fashioned way, we need to be a little careful to load files in the right order. First comes the `putstuffhere` dependency.  -->
<script type="text/javascript" src="js/modules/putstuffhere/lib/ajax.js"></script>
<script type="text/javascript" src="js/modules/putstuffhere/lib/queue.js"></script>
<script type="text/javascript" src="js/modules/putstuffhere/lib/putstuffhere.js"></script>
<script type="text/javascript" src="js/modules/putstuffhere/index.js"></script>

<!-- Next we load Ishmael, starting with the basics, then gradually adding more complex modules.  -->
<script type="text/javascript" src="js/modules/ishmael/lib/autoincrement.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/userdefaults.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/printerror.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/printwarning.js"></script>

<script type="text/javascript" src="js/modules/ishmael/lib/ishmael.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/uicolor.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/idevent.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/layoutview.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/control.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/view.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/uibutton.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/domutils.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/dom.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/viewcontroller.js"></script>
<script type="text/javascript" src="js/modules/ishmael/lib/app.js"></script>

<!-- Here we define `require` and `module` for the browser, so we don't have to do this in all of our source files. -->
<script type="text/javascript">
if (typeof(require) === typeof(undefined)) window.require = function(){return null;};
if (typeof(module) === typeof(undefined)) window.module = {};
var print = print || function(e) { console.log(e) };
</script>

<!-- Finally, load our app, starting with our simplest views and working backward to the main app class. -->
<script type="text/javascript" src="js/storylistview.js"></script>
<script type="text/javascript" src="js/basicapp.js"></script>

	</head>

	<body>
<!-- Here's where the app's HTML will go: -->
put html here

	</body>
</html>